<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav" [opened]="sidenavOpen()" mode="over" hasBackdrop="true">
    <nav class="nav-menu">
      @for (nav of navItems(); track $index) {
        <button
          mat-button
          [routerLink]="nav.path"
          routerLinkActive="active"
          class="nav-item"
          (click)="toggleSidenav()"
        >
          <mat-icon>{{ nav.icon }}</mat-icon>
          <span>{{ nav.label }}</span>
        </button>
      }
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-header (toggleMenuClick)="toggleSidenav()"></app-header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
