.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--mat-sys-surface-container-highest);
}

mat-card {
  width: 350px;
  padding: 24px;
}

.full-width {
  width: 100%;
  margin-bottom: 12px;
}

mat-card-header {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 100%;
  margin-top: 8px;
}
